<section>
  {% renderTemplate "md" %}
  # Hi! I'm **Tuyen Huynh**
  - pronunciation: *"tween"*
  - Vietnamese script and order: Huỳnh Ngọc Tuyên
  {% endrenderTemplate %}
</section>

<section>
  {% renderTemplate "md" %}
  # 👨‍🎓 I am ...
  - a PhD student, registered with the University of Oxford, Nuffield Department of Medicine; part of the Brasenose
  College (Apr 2023 - Apr 2027)
  - interested in building Machine Learning models and pipelines for infectious disease forecasting, along with
  stakeholder engagement
  - currently working on building models for dengue forecasting, part of a project called
  [DART](https://www.dartdengue.org) - Dengue Advanced Readiness Tools
  - physically based in the Mathematical Modelling group of the Oxford University Clinical Research Unit (OUCRU), Ho Chi
  Minh City, Viet Nam
  - supervised by Dr. Marc Choisy, Assoc. Prof. Sophie Yacoub, Assoc. Prof. Sarah Sparrow, and Prof. Moritz Kraemer
  {% endrenderTemplate %}
</section>

<section>
  {% renderTemplate "md" %}
  # 💼 I have ...
  - a background in Computer Science and Information Technology with a Bachelor in Information Technology at RMIT
  University Vietnam (2019-2022)
  - worked as a Research Assistant (Software Developer) the Mathematical Modelling group at OUCRU (Aug 2022 - Mar 2023)
  {% endrenderTemplate %}
</section>

{# special section, mixed md and nunjucks #}
<section>
  {% renderTemplate "md" %}
  # @ You can find me on ...
  {% endrenderTemplate %}
  <ul>
    <li>
      {% lucide "linkedin" %}&nbsp;
      <a target="_blank" href="https://www.linkedin.com/in/tuyen-h-520a1b125/">
        <span>LinkedIn {% lucide "external-link"%}</span>
      </a> (Tuyen Huynh)
    </li>
    <li>
      {% lucide "github" %}&nbsp;
      <a target="_blank" href="https://github.com/tuyenhn">
        <span>GitHub {% lucide "external-link"%}</span>
      </a> (tuyenhn)
    </li>
    <li>
      {% lucide "book" %}&nbsp;
      <a target="_blank" href="https://orcid.org/my-orcid?orcid=0009-0009-4878-8953">
        <span>ORCiD {% lucide "external-link"%}</span>
      </a> (0009-0009-4878-8953)
    </li>
    <li>
      {% lucide "graduation-cap" %}&nbsp;
      <a target="_blank" href="https://scholar.google.com/citations?user=rI80uNAAAAAJ&hl=en">
        <span>Google Scholar {% lucide "external-link"%}</span>
      </a> (Tuyen Huynh)
    </li>
    <li>
      {% lucide "globe" %}&nbsp;
      <a target="_blank" href="https://www.oucru.org/people/huynh-ngoc-tuyen/">
        <span>OUCRU profile {% lucide "external-link"%}</span>
      </a>
    </li>
  </ul>
</section>

<section>
  {% renderTemplate "md" %}
  # 📫 You can reach me through ...
  - OUCRU email: [tuyenhn@oucru.org](mailto:tuyenhn@oucru.org)
  - Oxford email: [bras5568@ox.ac.uk](mailto:bras5568@ox.ac.uk)
  {% endrenderTemplate %}
</section>

<section>
  {% renderTemplate "md" %}
  # Some of the things I worked on
  {% endrenderTemplate %}
</section>